@charset "UTF-8";
* {
	color: red;
}

li {
	color: blue;
}

#orange{
	color: green;
}

.orange1{
	color: aqua;
}

.myclass{
	background-color: cadetblue;
}

span.orange1 {
	color: fuchsia;
}

ul > .orange1 {
	color: lime;
}

div .orange1 {
	background-color: yellow;
}

.orange1 + li {
	color: olive;
}

.orange1 ~ li {
	color: purple;
}

